<?xml version="1.0" ?>
<config>
   <browser>FF</browser>
   <appName>GMail</appName>
   <release>Smoke</release>
   
   
   
   <GMail>
   
  	 <url>https://www.gmail.com</url>
   
   </GMail>
     
  
  
  <Properties>
  
    <EMail>true</EMail>
    <Screenshots>true</Screenshots>
  
  </Properties>
    
    
   
</config>